@font-face {
  font-family: "px_reg";
  src:
    url("src/font/Px-Grotesk-Regular.woff") format("woff"),
    url("src/font/Px-Grotesk-Regular.woff2") format("woff2");
}

/*  ===================================================
                    VARIABLE
    ===================================================*/

:root {
  --c-black: black;
  --c-white: white;
  --f-size: 16px;
  --b-size: 1px;
}


/*  ===================================================
                    BALISE DE BASE
    ===================================================*/

body {
    margin: 0px;
    padding: 0px;
    font-family: "px_reg";
    font-size: var(--f-size);
}

a:link, a:visited {
    color: var(--main-color);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--main-color);
}

/*  ===================================================
                    NAV
    ===================================================*/

nav {
    background-color: var(--c-white);
    border: var(--c-black) var(--b-size) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_nav_filtre {
    z-index: 1;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_btn, #filter {
    border-left: var(--c-black) var(--b-size) solid;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_choix_anne {
    border-left: none;
    border-right: var(--c-black) var(--b-size) solid;
}

#years {
    border: none;
    outline: none;
    font-size: var(--f-size);
}

.nav_menu > div.active {
    background-color: var(--c-black);
    color: var(--c-white);
}

.nav_menu > div.active > span {
    background-color: var(--c-white);
    color: var(--c-black);
}

.cont_choix_anne {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nb_filtre {
    background-color: var(--c-black);
    color: var(--c-white);
    font-size: 14px;
    margin-left: 5px;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#filter.open {
    background-color: var(--c-black);
    color: var(--c-white);
}

#filter.open > .nb_filtre {
    background-color: var(--c-white);
    color: var(--c-black);
}

.nav_option {
    display: flex;
}

.toggle_cont {
    border: none;
}

#filter_cont {
    justify-content: end;
    display: flex;
    width: 100%;
}

.d-nav {
    border-left: var(--c-black) var(--b-size) solid;
    border-top: var(--c-black) var(--b-size) solid;
    min-width: 80px;
    min-height: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-white);
    display: none;
}

.d-nav.open {
    display: flex;
}

.d-nav.close {
    background-color: var(--c-black);
    color: var(--c-white);
}

.d-nav.active {
    background-color: var(--c-black);
    color: var(--c-white);
}



/*  ===================================================
                    toggle
    ===================================================*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: var(--c-black);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}


/*  ===================================================
                    timeline
    ===================================================*/

.saison_timeline {
    background-color: var(--c-black);
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    flex-shrink: 0;
}

.full_l {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#timeline_wrap {
    height: calc(100vh - 51px);
}

.name_timeline, .zone_timeline {
    margin: 0px;
    color: var(--c-white);
    z-index: 100;
    display: none;
}

/*  ===================================================
                    liste
    ===================================================*/

.liste_el {
    display: block;
    background-color: var(--c-white);
    margin: 0px;
    border-top: var(--b-size) var(--c-black) solid;
    display: flex;
    justify-content: space-between;
}

.liste_el:hover {
    background-color: var(--c-black);
    color: var(--c-white);
    margin: 0px;
    border-top: var(--b-size) var(--c-black) solid;
    display: flex;
    justify-content: space-between;
}

.liste_sz {
    display: flex;
}

#liste_wrap {
    margin: 0px 0px 400px 0px;
}

.liste_el_titre {
    background-color: var(--c-black);
    color: var(--c-white);
}

.liste_el_titre > p {
    padding: 20px 0px;
    margin: 0px;
}

.saison_liste {
    margin-left: 34.5px;
    width: 300px;
}

.liste_el_titre {
    padding-left: 34.5px;
}

.date_liste {
    margin-right: 34.5px;
}

/*  ===================================================
                    map
    ===================================================*/

/* hitbox */
#hit_europe, #hit_asie, #hit_asie_sud, #hit_asie_sud_est,
#hit_himalayas, #hit_afrique, #hit_afrique_central,
#hit_ouest_afrique, #hit_moyen_orient, #hit_bassin_mediterraneen,
#hit_australie_sud, #hit_australie_nord, #hit_amerique_sud, #hit_amerique_nord,
#hit_amazonie, #hit_foret_boreales, #hit_arctique {
    opacity: 0;
}

/* tout les régions */
#europe, #asie, #asie_sud, #asie_sud_est,
#himalayas, #afrique, #afrique_central,
#ouest_afrique, #moyen_orient, #bassin_mediterraneen,
#australie_sud, #australie_nord, #amerique_sud, #amerique_nord,
#amazonie, #foret_boreales, #arctique {
    display: none;
    fill: var(--c-black) !important;
}

/* back terre */
#terre_v2 > rect {
    fill: #ccc;
}

/* les océan */
#pacifique_ouest_wetern_, #pacific_est_central_Eastern_, 
#mediterrane, #ocean_inden_sud, 
#ocean_inden_nord, #atlentique {
    display: none;
}

#water_v2 {
    fill: #ccc;
}

.cont_map {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.cont_map > svg {
    margin-top: -80px;
    transform: scale(1.3);
    transform-origin: center center;
}
